/**
 ** 应用级别的一些样式
 **/

::selection  {
  background-color:$theme-color;
  color: white;
}

// 滚动条
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: var(--menu-bgcolor);
}

// table
.el-table th,
.el-table td {
  padding: 4px!important;
  font-size: $font-size-sm!important;
}
.el-table::before {
  height: 0!important;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: var(--playlist-hover-bgcolor) !important;
}
// 空数据
.el-table__empty-block {
  background: var(--body-bgcolor);
  color: var(--font-color);
}
.el-table__header-wrapper th {
  color: var(--font-color);
}

@mixin el-table-theme($color) {
  .el-table td,
  .el-table th {
  background-color: $color !important;
  border-bottom: none !important;
  }
}

@include el-table-theme(var(--body-bgcolor));

.playlist {
  @include el-table-theme(var(--playlist-bgcolor));
}

// carosel 
.el-carousel--horizontal {
  overflow: hidden;
}