body {
  min-width: 1000px;
}

.el-loading-mask {
  background: rgba(0, 0, 0, .2);
}

.el-loading-spinner {
  .path {
    stroke: $theme-color;
  }

  .el-loading-text {
    color: $font-color;
  }
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: $menu-bgcolor;
}

