$theme-color: #d33a31;
$white: #fff;
$gold: #E7AA5A;

$font-size: 14px;
$font-size-medium: 15px;
$font-size-lg: 16px;
$font-size-sm: 12px;
$font-size-xs: 10px;
$font-size-title: 18px;

$font-color-transparent: rgba(255,255,255, 0.5);

$border: 1px solid #3F3F3F;

// content
$center-content-width: 1000px;
// header
$header-height: 50px;

// mini-player
$mini-player-height: 60px;
$mini-player-z-index: 4;

//playlist
$playlist-z-index: 3;

//search
$search-panel-z-index: 3;
