$theme-color: #d33a31;
$white: #fff;

$body-bgcolor: #252525;
$menu-bgcolor: #202020;
$light-bgcolor:#2e2e2e;

$font-color: #b1b1b1;
$font-color-shallow: #6f6f6f;
$font-color-white: #dcdde4;
$font-color-grey:#5C5C5C;

$font-size: 14px;
$font-size-lg: 16px;
$font-size-sm: 12px;
$font-size-xs: 10px;
$font-size-title: 18px;

// header
$header-height: 50px;

// menu
$menu-item-hover-bg: #1d1d1d;
$menu-item-active-bg: #1b1b1b;

// mini-player
$mini-player-height: 60px;