$theme-color: #d33a31;

$body-bgcolor: #252525;
$menu-bgcolor: #202020;

$font-color: #b1b1b1;
$font-color-shallow: #6f6f6f;
$font-color-white: #dcdde4;

$font-size: 14px;
$font-size-lg: 16px;
$font-size-sm: 12px;
$font-size-title: 18px;

// header
$header-height: 50px;

// menu
$menu-item-hover-bg: #1d1d1d;
$menu-item-active-bg: #1b1b1b;
