$theme-color: #D33A31;

$body-bgcolor: #252525;
$menu-bgcolor: #202020;

$font-color: #b1b1b1;
$font-color-shallow: #6F6F6F;

$font-size: 14px;
$font-size-lg: 16px;
$font-size-sm: 12px;

// header
$header-height: 50px;

// menu
$menu-item-hover-bg: #1D1D1D;
$menu-item-active-bg: #1B1B1B;